<%- include("./partials/head.ejs") %>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/pictureupload">Upload</a></li>
      </ul>
      <input id="search" type="search" placeholder="Picture Number...">
    </nav>
    <main>
      <div class="picture_container">
        <% for(let i = 0; i < blogs.length; i++){%>
            <a href="/pictures/<%= blogs[i].title%>">
              <div class="picture_element" id=<%=blogs[i].title%> style="background-image: url('<%=blogs[i].image%>')">
                <h1 class="day_number"><%=blogs[i].title%></h1>
                <h1 class="date"><%=blogs[i].date.toDateString()%></h1>
              </div>
            </a>
        <%}%>
      </div>
    </main>
    <script src="index.js"></script>
  </body>
</html>
